# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\project\github\unfinished\SdustParallelProgramminge\cuda\teamWork1_KNNclassificationAlgorithm\parallel\serverVersion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
