# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\project\github\unfinished\SdustParallelProgramming\teamWork1_KNNclassificationAlgorithm\pythonSerial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
